.list{
margin-inline-start:1.5rem;
margin-block-end: 1.5rem;
}

.list-title{
  font: var(--basefont);
  margin-block-end:.5rem;
  margin-block-start:0 ;
}

.list-conten{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.list-item a{
  font: var(--basefontBold);
  transition: color .2s;
}